mixin sReviews(data)
	// start sReviews
	+b.SECTION.sReviews.section#sReviews&attributes(attributes)
		.container
			+b.section-title.text-center
				h2 
					span отзывы
					|  клиентов
			.slider-wrapper
				+e.slider.swiper.slider-auto-js
						.swiper-wrapper
								+e.slide.swiper-slide
									+reviewItem(1, `Вера Сескутова`, `3&nbsp;апреля 2023`)
								+e.slide.swiper-slide
									+reviewItem(2, `Василий нефтюков`, `30&nbsp;мая 2022`)
								+e.slide.swiper-slide
									+reviewItem(3, `Илья Словеснов`, `28&nbsp;августа 2022`)
				+e.arrow-wrap
					+arrow
	// end sReviews