mixin reviewItem(img, name, date, text)
	+b.reviewItem
		+e.head
			+e.img-wrap
				+img(`img/sReviews-${img}.jpg`, 'bg')
			+e.name
				.h5!= name
				span!= date
		+b.star-block(data-rating="4")
			+icon("star")
			+icon("star")
			+icon("star")
			+icon("star")
			+icon("star")
		+e.player
			audio.js-player(controls='')
				source(src="audio/sample.mp3" type="audio/mp3")
		p!= text
		+e.link-more(href="#") Развернуть

mixin sReviews(data)
	// start sReviews
	+b.SECTION.sReviews.section#sReviews&attributes(attributes)
		.container
			+b.section-title.text-center
				h2 
					span отзывы
					|  клиентов

			.slider-wrapper
				+e.slider--js.swiper
					.swiper-wrapper
						+e.slide.swiper-slide
							+reviewItem(1, `Вера Сескутова`, `3&nbsp;апреля 2023`, `Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolorum repellendus non ipsa unde sint est delectus nisi quisquam, rerum provident. Ad aliquid odit voluptate illo placeat fugiat saepe atque doloribus! Quasi commodi minima, eius eum doloremque numquam cumque rem sequi.`)
						+e.slide.swiper-slide
							+reviewItem(2, `Василий нефтюков`, `30&nbsp;мая 2022`, `Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam, dolor?`)
						+e.slide.swiper-slide
							+reviewItem(3, `Илья Словеснов`, `28&nbsp;августа 2022`, `Lorem ipsum dolor sit amet.`)
						+e.slide.swiper-slide
							+reviewItem(1, `Вера Сескутова`, `3&nbsp;апреля 2023`, `Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam, dolor?`)
						+e.slide.swiper-slide
							+reviewItem(2, `Василий нефтюков`, `30&nbsp;мая 2022`, `Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab modi debitis ratione fugiat! Accusantium sequi ipsum repellendus aspernatur quaerat dolorem!`)
						+e.slide.swiper-slide
							+reviewItem(3, `Илья Словеснов`, `28&nbsp;августа 2022`, `Lorem ipsum dolor sit amet.`)
				+e.arrows
					+arrow
	// end sReviews