
mixin modal() 
	//  start modals
	div(id="modal-call"  style="display: none" )
		+b.modal-win--call
			+form-wrap
				.text-center
					+e.title.form-data.h3.ttu Заказать звонок
					p.after-headline Оставьте заявку и&nbsp;мы&nbsp;свяжемся с&nbsp;Вами в&nbsp;ближайшее время!

				+input("Ваше Имя")(required)
				+input("Ваш телефон", "tel")(required)  
				+input("Ошибка").is-invalid
				+e.BUTTON.btn.btn.btn-primary(type="submit") Отправить заявку
				+policy()
	// #modal-call
	
	// end modals