
mixin modal() 
	//  start modals
	div(id="modal-call"  style="display: none" )
		+b.modal-win--call
			+form-wrap
				.text-center
					+e.title.form-data.h3.ttu Заказать звонок
					p.after-headline Оставьте заявку и&nbsp;мы&nbsp;свяжемся с&nbsp;Вами <br> в&nbsp;ближайшее время!

				+input("Ваше Имя")(required)
				+input("Ваш телефон", "tel")(required)  
				+input("Ошибка").is-invalid
				+e.BUTTON.btn.btn.btn-primary(type="submit") Отправить заявку
				+policy()
	// #modal-call

	div(id="modal-search-list" style="display: none" )
		+b.modal-win--cityChoose
			+form-wrap
				+e.title.form-data.h3.text-center Выберите город
				+input("Ваш город",'text').input-search
					button.btn.btn--input.btn-close-js(type="button")
						+icon('close')
				+e.scroll-list
					ul
						mixin listItem(city)
							li&attributes(attributes)
								a(href="#")!= city
						+listItem(`Москва`).active
						+listItem(`Балашиха`)
						+listItem(`Бронницы`)
						+listItem(`Видное`)
						+listItem(`Волоколамск`)
						+listItem(`Дзержинск`)
						+listItem(`Дмитров`)
						+listItem(`Екатеринбург`)
						+listItem(`Иркутск`)
						+listItem(`Кемерово`)
						+listItem(`Красноярск`)
						+listItem(`Новосибирск`)
						+listItem(`Омск`)
						+listItem(`Оренбург`)
						+listItem(`Пермь`)
						+listItem(`Ростов-на-Дону`)
						+listItem(`Самара`)
						+listItem(`Саратов`)
						+listItem(`Томск`)
						+listItem(`Тула`)
						+listItem(`Тюмень`)
						+listItem(`Улан-Удэ`)
						+listItem(`Хабаровск`)
						+listItem(`Якутск`)

		// #modal-search-list
	
	// end modals