// start .sOrder
.sOrder {
	// --sPT: #{rem()};
	// --sPB: #{rem()};
	@include media-breakpoint-down(md) {
		--sTPB: #{rem(18)};
	}
	&__wrap {
		position: relative;
		background-color: $gray-800;
		color: $white;
		padding: 5.56%;
		border-radius: $border-radius;
		// overflow: hidden;
		@include media-breakpoint-up(sm) {
			padding: rem(48);
		}
		@include media-breakpoint-up(md) {
			border-radius: $border-radius-lg;
		}
		@include media-breakpoint-up(lg) {
			background-image: url(../img/sOrder-bg-1.png);
			background-repeat: no-repeat;
			background-position: right;
			background-size: cover;
			margin-top: rem(60);
		}
		@include media-breakpoint-up(xl) {
			padding: rem(60);
		}
		& > img {
			position: absolute;
			height: 113.6%;
			width: auto;
			bottom: 0;
			right: 6.8%;
			@include media-breakpoint-down(lg) {
				display: none;
			}
		}
	}
	&__row {
		// --bs-gutter-x: #{rem()};
		// --bs-gutter-y: #{rem()};
	}
	.section-title {
		text-align: center;
		@include media-breakpoint-up(lg) {
			text-align: left;
		}
		h2 {
			margin-bottom: rem(12);
			@include media-breakpoint-up(md) {
				margin-bottom: rem(24);
			}
		}
		p {
			font-size: rem(14);
			line-height: 130%;
			@include media-breakpoint-up(md) {
				font-size: rem(18);
				line-height: 135%;
			}
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
	&__col {
	}
	&__item {
	}
	.form-wrap {
		color: $white;
		--bs-form-control-bg: #{$white};
		@include media-breakpoint-up(lg) {
			max-width: 50%;
		}
		&__row {
			--bs-gutter-y: var(--bs-gutter-x);
		}
		&__input {
			@include media-breakpoint-down(md) {
				font-size: rem(12);
				line-height: 1.35;
				padding: rem(15) rem(17);
				border-radius: rem(8);
			}
		}
		&__btn {
			width: 100%;
			@include media-breakpoint-down(md) {
				--bs-btn-padding-y: #{rem(14)};
				--bs-btn-padding-x: #{rem(14)};
				--bs-btn-font-size: #{rem(12)};
				--bs-btn-line-height: 1.35;
				--bs-btn-border-radius: #{rem(8)};
			}
		}

		&__policy {
			margin-top: rem(12);
			@include media-breakpoint-up(md) {
				margin-top: rem(24);
			}
			.custom-input {
				--bs-border-color: #{$gray-300};
				display: flex;
				align-items: center;
				padding-left: 0;
				margin-bottom: 0;
				min-height: unset;
				&__input {
					float: none;
					margin: 0;
					margin-right: rem(12);
					flex-shrink: 0;
					width: rem(24);
					height: rem(24);
				}
				&__text {
					font-size: rem(12);
					line-height: 135%;
					@include media-breakpoint-up(md) {
						font-size: rem(16);
						line-height: 125%;
					}
				}
			}
		}
	}

	@include media-breakpoint-up(xl) {
	}
	@include media-breakpoint-up(lg) {
	}
	@include media-breakpoint-up(md) {
	}
	@include media-breakpoint-up(sm) {
	}
	@include media-breakpoint-between(md, xl) {
	}
	@include media-breakpoint-only(xl) {
	}
	@include media-breakpoint-down(xl) {
	}
} // end.sOrder
