:root {
	--animate-delay: 1.2s;
	--bs-body-font-size: #{$em-base};
	// --bs-body-font-size: calc(#{$em-base} * 0.75);
	--sPT: #{rem(60 * 0.5)};
	--sPB: #{rem(60 * 0.5)};
	--sTPB: #{rem(48 * 0.5)};
	@include media-breakpoint-up(md) {
		--sPT: #{rem(60 * 0.7)};
		--sPB: #{rem(60 * 0.7)};
		--sTPB: #{rem(48 * 0.7)};
	}
	@include media-breakpoint-up(xl) {
		// --bs-body-font-size: #{$em-base};
		--sPT: #{rem(60)};
		--sPB: #{rem(60)};
		--sTPB: #{rem(48)};
	}


	--fancybox-content-color: var(--bs-body-color);
	--swiperArrowSize: #{rem(68)};
	--swiperArrowPosition: calc(-1 * var(--swiperArrowSize) / 2);
	--swiperBorderColorDef: var(--bs-primary);
	--swiperColorDef: var(--bs-primary);
	--swiperBgDef: #ffffff;

	--swiperBorderColorDefHover: var(--bs-primary);
	--swiperColorDefHover: var(--bs-primary);
	--swiperBgDefHover: #ffffff;

	--fancybox-bg: rgba(24, 24, 27, 0.77);

	.row {
		@include media-breakpoint-down(md) {
			--bs-gutter-x: 12px;
		}
	}

	--plyr-color-main: #{$primary};
	// --plyr-color-main: var(--bs-primary);
	--plyr-control-icon-size: #{rem(16)};
	--plyr-audio-controls-background: #{$gray-800};
	--plyr-audio-control-color: #{$primary};
	--plyr-audio-control-color-hover: #FF6E20;
	--plyr-control-spacing: 8px;
	--plyr-audio-progress-buffered-background: rgba(255, 255, 255, 0.12);
	--plyr-range-thumb-height: #{rem(14)};
	// --plyr-control-radius: 0;
	@include media-breakpoint-up(xl) {
		--plyr-control-spacing: 9.43px;
	}

	//  --carousel-button-width: 48px;
	//  --carousel-button-height: 48px;

	//  --carousel-button-svg-width: 24px;
	//  --carousel-button-svg-height: 24px;

	//  --carousel-button-svg-stroke-width: 2.5;
	//  --carousel-button-svg-filter: drop-shadow(1px 1px 1px rgba(0, 0, 0/ 0.4));
}

@include media-breakpoint-up(xl) {
}

@include media-breakpoint-up(lg) {
}

@include media-breakpoint-up(md) {
}

@include media-breakpoint-up(sm) {
}

@include media-breakpoint-up(xs) {
}

//
@include media-breakpoint-between(md, xl) {
}

//
@include media-breakpoint-only(xs) {
}

@include media-breakpoint-only(sm) {
}

@include media-breakpoint-only(md) {
}

@include media-breakpoint-only(lg) {
}

@include media-breakpoint-only(xl) {
}

//
@include media-breakpoint-down(xl) {
}

@include media-breakpoint-down(lg) {
}

@include media-breakpoint-down(md) {
}

@include media-breakpoint-down(sm) {
}

@include media-breakpoint-down(xs) {
}
