mixin sFullPriceList(data)
	// start sFullPriceList
	+b.SECTION.sFullPriceList.section#sFullPriceList&attributes(attributes)
		.container
			+e.row.row
				.col-lg-4.col-xxl-3
					+ddGroup()
						+ddGroupItem('Забор из профнастила', '', false)
							ul
								li: a(href="#") Оцинкованный профлист 
								li: a(href="#") Одностороннее полимерное покрытие
								li: a(href="#") Двухстороннее полимерное покрытие
								li: a(href="#") Дополнительные услуги
						+ddGroupItem('Забор из евроштакетника', '', false)
							ul
								li: a(href="#") Оцинкованный профлист 
								li: a(href="#") Одностороннее полимерное покрытие
								li: a(href="#") Двухстороннее полимерное покрытие
								li: a(href="#") Дополнительные услуги
						+ddGroupItem('Забор из сетки-рабицы', '', false)
							ul
								li: a(href="#") Оцинкованный профлист 
								li: a(href="#") Одностороннее полимерное покрытие
								li: a(href="#") Двухстороннее полимерное покрытие
								li: a(href="#") Дополнительные услуги
						+ddGroupItem('Забор из 3Д сетки', '', false)
							ul
								li: a(href="#") Оцинкованный профлист 
								li: a(href="#") Одностороннее полимерное покрытие
								li: a(href="#") Двухстороннее полимерное покрытие
								li: a(href="#") Дополнительные услуги
						+ddGroupItem('Деревянный забор', '', false)
							ul
								li: a(href="#") Оцинкованный профлист 
								li: a(href="#") Одностороннее полимерное покрытие
								li: a(href="#") Двухстороннее полимерное покрытие
								li: a(href="#") Дополнительные услуги
						+ddGroupItem('Секционный забора', '', false)
							ul
								li: a(href="#") Оцинкованный профлист 
								li: a(href="#") Одностороннее полимерное покрытие
								li: a(href="#") Двухстороннее полимерное покрытие
								li: a(href="#") Дополнительные услуги
						+ddGroupItem('Каркас для забора', '', false)
							ul
								li: a(href="#") Оцинкованный профлист 
								li: a(href="#") Одностороннее полимерное покрытие
								li: a(href="#") Двухстороннее полимерное покрытие
								li: a(href="#") Дополнительные услуги
						+ddGroupItem('Откатные ворота', '', false)
							ul
								li: a(href="#") Оцинкованный профлист 
								li: a(href="#") Одностороннее полимерное покрытие
								li: a(href="#") Двухстороннее полимерное покрытие
								li: a(href="#") Дополнительные услуги
						+ddGroupItem('Распашные ворота', '', false)
							ul
								li: a(href="#") Оцинкованный профлист 
								li: a(href="#") Одностороннее полимерное покрытие
								li: a(href="#") Двухстороннее полимерное покрытие
								li: a(href="#") Дополнительные услуги
						+ddGroupItem('Калитка', '', false)
							ul
								li: a(href="#") Оцинкованный профлист 
								li: a(href="#") Одностороннее полимерное покрытие
								li: a(href="#") Двухстороннее полимерное покрытие
								li: a(href="#") Дополнительные услуги
						+ddGroupItem('Кирпичные столбы', '', false)
							ul
								li: a(href="#") Оцинкованный профлист 
								li: a(href="#") Одностороннее полимерное покрытие
								li: a(href="#") Двухстороннее полимерное покрытие
								li: a(href="#") Дополнительные услуги
						+ddGroupItem('Ленточный фундамент', '', false)
							ul
								li: a(href="#") Оцинкованный профлист 
								li: a(href="#") Одностороннее полимерное покрытие
								li: a(href="#") Двухстороннее полимерное покрытие
								li: a(href="#") Дополнительные услуги
				.col-lg-8.col-xxl-9
					+e.wrap
						h2 Забор из профнастила
						h3 ОЦИНКОВАННЫЙ ПРОФЛИСТ
						+customTable('Из&nbsp;оцинкованного листа за&nbsp;погонный метр: cтолбы 60*60&nbsp;на 2-х металлических лагах')
							+tr('Высота погонного метра', 'Толщина листа 0.35/0.4/0.5 мм')
							+tr('h-1,5 м', '1200 руб / 1350 руб / 1450 руб')
							+tr('h-1,8 м', '1350 руб / 1450 руб / 1550 руб')
							+tr('h-2,0 м', '1450 руб / 1550 руб / 1650 руб')
						+customTable('Стоимость забора из&nbsp;оцинкованной сетки рабица в&nbsp;натяг за&nbsp;погонный метр: Столбы 60*30 , толщина сетки 1.8&nbsp;мм, толщина протяжки 0.8&nbsp;мм').--other-columns
							+tr('', '', 'Высота погонного метра', 'h-1,5 м.')
							+tr('', '', 'Без протяжек', '700 руб')
							+tr('', '', 'В одну протяжку', '750 руб')
							+tr('', '', 'В две протяжки', '800 руб')
						.alert.alert-danger 
							+img('img/svg/attention.svg').img-svg-js
							| Стоимость указана на&nbsp;профнастил марки С-8. Цены на&nbsp;профлист марок С-20 и&nbsp;С-21 уточняйте у&nbsp;менеджеров.
						h3 ОЦИНКОВАННЫЙ ПРОФЛИСТ
						+customTable('Из&nbsp;оцинкованного листа за&nbsp;погонный метр: cтолбы 60*60&nbsp;на 2-х металлических лагах')
							+tr('Высота погонного метра', 'Толщина листа 0.35/0.4/0.5 мм')
							+tr('h-1,5 м', '1200 руб / 1350 руб / 1450 руб')
							+tr('h-1,8 м', '1350 руб / 1450 руб / 1550 руб')
							+tr('h-2,0 м', '1450 руб / 1550 руб / 1650 руб')
					+e.wrap
						h2 Забор из евроштакетника
						h3 Одностороннее полимерное покрытие
						+customTable('Из&nbsp;оцинкованного листа за&nbsp;погонный метр: cтолбы 60*60&nbsp;на 2-х металлических лагах')
							+tr('Высота погонного метра', 'Толщина листа 0.35/0.4/0.5 мм')
							+tr('h-1,5 м', '1200 руб / 1350 руб / 1450 руб')
							+tr('h-1,8 м', '1350 руб / 1450 руб / 1550 руб')
							+tr('h-2,0 м', '1450 руб / 1550 руб / 1650 руб')
						h3 двухстороннее полимерное покрытие
						+customTable('Из&nbsp;оцинкованного листа за&nbsp;погонный метр: cтолбы 60*60&nbsp;на 2-х металлических лагах').mb-0
							+tr('Высота погонного метра', 'Толщина листа 0.35/0.4/0.5 мм')
							+tr('h-1,5 м', '1200 руб / 1350 руб / 1450 руб')
							+tr('h-1,8 м', '1350 руб / 1450 руб / 1550 руб')
							+tr('h-2,0 м', '1450 руб / 1550 руб / 1650 руб')
	// end sFullPriceList