mixin sCategories(data)
	// start sCategories
	+b.SECTION.sCategories.section#sCategories&attributes(attributes)
		.container
			+b.section-title.text-center
				h2 каталог 
					span заборов
			+e.row.row
				.col-lg-6.col-xxl-4
					+categoryItem(`categoryItem-1.jpg`, `Заборы из&nbsp;профнастила`, `от&nbsp;1690&nbsp;р/м.п`)
				.col-lg-6.col-xxl-4
					+categoryItem(`categoryItem-2.jpg`, `Заборы из&nbsp;профнастила`, `от&nbsp;1690&nbsp;р/м.п`)
				.col-lg-6.col-xxl-4
					+categoryItem(`categoryItem-3.jpg`, `Заборы из&nbsp;профнастила`, `от&nbsp;1690&nbsp;р/м.п`)
				.col-lg-6.col-xxl-4
					+categoryItem(`categoryItem-4.jpg`, `Заборы из&nbsp;профнастила`, `от&nbsp;1690&nbsp;р/м.п`)
				.col-lg-6.col-xxl-4
					+categoryItem(`categoryItem-5.jpg`, `Заборы из&nbsp;профнастила`, `от&nbsp;1690&nbsp;р/м.п`)
				.col-lg-6.col-xxl-4
					+categoryItem(`categoryItem-6.jpg`, `Заборы из&nbsp;профнастила`, `от&nbsp;1690&nbsp;р/м.п`)
				.col-lg-6.col-xxl-4
					+categoryItem(`categoryItem-7.jpg`, `Заборы из&nbsp;профнастила`, `от&nbsp;1690&nbsp;р/м.п`)
				.col-lg-6.col-xxl-4
					+categoryItem(`categoryItem-8.jpg`, `Заборы из&nbsp;профнастила`, `от&nbsp;1690&nbsp;р/м.п`)
				.col-lg-6.col-xxl-4
					+categoryItem(`categoryItem-9.jpg`, `Заборы из&nbsp;профнастила`, `от&nbsp;1690&nbsp;р/м.п`)



	// end sCategories