mixin sCategories(data)
	// start sCategories
	+b.SECTION.sCategories.section#sCategories&attributes(attributes)
		.container
			+b.section-title.text-center
				h2 каталог 
					span заборов
			+e.row.row
				.col-md-6.col-xl-4
					+categoryItem(`categoryItem-1.jpg`, `Заборы из&nbsp;профнастила`, `от&nbsp;1690&nbsp;р/м.п`)
				.col-md-6.col-xl-4
					+categoryItem(`categoryItem-2.jpg`, `Заборы из&nbsp;евроштакетника`, `от&nbsp;1350&nbsp;р/м.п`)
				.col-md-6.col-xl-4
					+categoryItem(`categoryItem-3.jpg`, `Заборы сетки рабицы`, `от&nbsp;1200&nbsp;р/м.п`)
				.col-md-6.col-xl-4
					+categoryItem(`categoryItem-4.jpg`, `Заборы из&nbsp;3Д&nbsp;сетки`, `от&nbsp;1300&nbsp;р/м.п`)
				.col-md-6.col-xl-4
					+categoryItem(`categoryItem-5.jpg`, `Заборы жалюзи`, `от&nbsp;1690&nbsp;р/м.п`)
				.col-md-6.col-xl-4
					+categoryItem(`categoryItem-6.jpg`, `Ворота откатные и&nbsp;раздвижные`, `от&nbsp;1300&nbsp;р/м.п`)
				.col-md-6.col-xl-4
					+categoryItem(`categoryItem-7.jpg`, `Секционные заборы`, `от&nbsp;1690&nbsp;р/м.п`)
				.col-md-6.col-xl-4
					+categoryItem(`categoryItem-8.jpg`, `кирпичные столбы`, `от&nbsp;1350&nbsp;р/м.п`)
				.col-md-6.col-xl-4
					+categoryItem(`categoryItem-9.jpg`, `Навесы`, `от&nbsp;1300&nbsp;р/м.п`)

	// end sCategories