mixin headerBlock()
	// start headerBlock
	+b.headerBlock.section#headerBlock&attributes(attributes)
		.container
			+e.wrapper.bg-wrap
				+img('img/headerBlock-bg-1.jpg', 'bg')
				+b.section-title.text-center
					h1 Изготовление и&nbsp;установка ограждений под ключ в&nbsp;Москве и&nbsp;МО
				+e.btn.btn.btn-primary(href="#") Вызвать замерщика
			
	// end headerBlock