
mixin sAbout(i, h, btn)
	// start sAbout
	+b.SECTION.sAbout.section&attributes(attributes)
		.container
			+e.row.row
					+e.col.col-lg-6.d-none.d-lg-block
						+e.img-wrap
							.img-wrap-center
								+img(`img/sAbout-${i}.jpg`, 'bg')
					.col-lg-6
						+e.content
							h2!= h
							if block
								block
							else
								p Компания &laquo;Лига заборов&raquo; предлагает купить забор в&nbsp;Москве с&nbsp;установкой под ключ по&nbsp;доступным ценам. Мы&nbsp;имеем огромный опыт производства и&nbsp;установки ограждений любого типа. На&nbsp;все виды заборов распространяется гарантия от&nbsp;2х&nbsp;лет. В&nbsp;удобное для вас время, на&nbsp;объект приедет специалист для проведения замера и&nbsp;расчета стоимости забора. Благодаря профессионализму и&nbsp;опыту наших мастеров, изгородь станет не&nbsp;только надежной защитой вашего дома, но&nbsp;и&nbsp;придаст участку завершенный вид.
								p Наши мастера выполнят строительство недорогих заборов для загородных домов, дач, коттеджей в&nbsp;Московской области. Заказчик получит полный комплекс работ. Ограждения выполняются из&nbsp;металла, дерева, кирпича, бетона. Поможем определиться с&nbsp;выбором материала, а&nbsp;также с&nbsp;видом изгороди для дачного участка. Для заказа услуги достаточно позвонить на&nbsp;наш номер телефона или заполнить заявку по&nbsp;форме обратной связи на&nbsp;сайте.
							if btn
								+e.btn.btn.btn-outline-primary(href="#")!= btn

	// end sAbout