extends ../layout/main.pug

include ../blocks/headerBlock/_headerBlock.pug
include ../blocks/sTypes/_sTypes.pug
include ../blocks/sStocks/_sStocks.pug
include ../blocks/sCategories/_sCategories.pug
include ../blocks/sAbout/_sAbout.pug
include ../blocks/sSteps/_sSteps.pug
include ../blocks/sFeatures/_sFeatures.pug

include ../blocks/sForm/_sForm.pug
include ../blocks/sContent/_sContent.pug
 
//- include ../blocks/sContact/_sContact.pug
//- include ../blocks/sForm/_sForm.pug
//- include ../blocks/sForm/_sForm.pug
//- include ../blocks/sCatalog/_sCatalog.pug

block variables
	- let  mainPage= 'main-page' 
	- let  bg= null

block title
	- let  title= 'Главная'
	title= title
block pagecontent
	//- +mob-mnu()
	
	
	+parts('header')
	main
		+topAlert()
		+headerBlock
		+sTypes()
		+sStocks()
		+sCategories()
		+sAbout(1, `о компании <span> мастерзабор </span>`,	`Подробнее о&nbsp;компании`)
		+sSteps()
		+sFeatures()
		+sAbout(2, `почему клиенты <span> выбирают нас </span>`,	`Перейти в&nbsp;услуги`).sAbout--reverse
			p Наши заборы&nbsp;&mdash; надежная защита от&nbsp;проникновения посторонних лиц на&nbsp;вашу территорию. Они гармонично дополнят ландшафт. Начинается работа с&nbsp;клиентом с&nbsp;консультации специалиста. Все нюансы заказа сразу обсуждаются.
			p Мы&nbsp;предлагаем весь комплекс мероприятий&nbsp;&mdash; от&nbsp;разработки дизайн-проекта, изготовления изгороди, ее&nbsp;монтажа на&nbsp;участке, до&nbsp;последующего обслуживания конструкции. Вам не&nbsp;придется тратить время и&nbsp;деньги, искать подрядчика&nbsp;&mdash; компанию, которая занимается доставкой материала по&nbsp;вашему адресу, а&nbsp;затем установкой готового ограждения. Мы&nbsp;сделаем все сами. Изготовляем недорогие заборы для дачи, цена с&nbsp;установкой намного дешевле, нежели у&nbsp;конкурентов.
			p Если для монтажа требуется создать фундамент, самостоятельно выполним эти работы. Выберем тип фундамента под вашу изгородь. Применяем качественные материалы от&nbsp;проверенных поставщиков.
		+sAbout(3, `строительство ограждений <span> от&nbsp;профессионалов </span>`, `Оставить заявку`)
		//- +sCatalog
		//- +sForm()
		//- +sContact()
		
	+parts('footer')
