mixin menu-toggle()
	+b.toggle-menu-mobile--js.d-xxl-none
		span
mixin mob-mnu()
	-
		//- let path = require('path');
		//- let fs = require('fs');
		//- var requestURL = 'top-nav.json';
		//- var request = new XMLHttpRequest();
		//- request.open('GET', requestURL);
		//- request.responseType = 'json';
		//- let dataJson = JSON.parse(json);
	//- h1= dataJson['lala'] 
	+b.menu-mobile--js
		+b.toggle-menu-mobile--js
			span
		+e.inner
			+mnu()
	//  мобильное меню
mixin top-nav() 
	// start top-nav
	+b.top-nav.block-with-lazy
		.container
			+e.wrap
				+e.row.row
					.col-auto
						+e.logo(href="/"): +img('img/svg/top-logo.svg')
					.col
						.menu-mobile.menu-mobile--js
							.menu-mobile__inner
								//- +menu-toggle()
								+contactUs
								+mnu()
								+e.inner-wrap.d-xl-none
									+e.city.d-lg-none(data-src='#modal-search-list').btn-modal-js
										| Москва
										+icon('chevronDown')
									+e.address(href='#') 125481, г. Москва, ул. Фомичевой, д.&nbsp;16, корп.&nbsp;3, эт.&nbsp;1, пом.&nbsp;252, оф. 2к.
									+e.work Работаем без выходных с 8:00 до 20:00
									+e.email(href='mailto:info@masterazoborov.ru') info@masterazoborov.ru
									+e.btn.btn.btn-outline-primary(data-src='#modal-call').btn-modal-js Заказать звонок
					.col-auto.d-none.d-lg-block
						+e.city(data-src='#modal-search-list').btn-modal-js
							| Москва
							+icon('chevronDown')
					.col-auto
						+contactUs
					.col-auto.d-none.d-lg-block
						+e.btn.btn.btn-outline-primary(data-src='#modal-call').btn-modal-js Заказать звонок
					.col-auto.d-xl-none
						+menu-toggle()
	// end top-nav