mixin menu-toggle()
	+b.toggle-menu-mobile--js.d-xxl-none
		span
mixin mob-mnu()
	-
		//- let path = require('path');
		//- let fs = require('fs');
		//- var requestURL = 'top-nav.json';
		//- var request = new XMLHttpRequest();
		//- request.open('GET', requestURL);
		//- request.responseType = 'json';
		//- let dataJson = JSON.parse(json);
	//- h1= dataJson['lala'] 
	+b.menu-mobile--js
		+b.toggle-menu-mobile--js
			span
		+e.inner
			+mnu()
	//  мобильное меню
mixin top-nav() 
	// start top-nav
	+b.top-nav.block-with-lazy
		.container
			+e.wrap
				+e.row.row
					.col-auto
						+e.logo(href="/"): +img('img/svg/top-logo.svg')
					.col
						.menu-mobile.menu-mobile--js
							.menu-mobile__inner
								//- +menu-toggle()
								+mnu()
					.col-auto.d-none.d-lg-block
						+e.city(data-src='#modal-call' data-fancybox).btn-modal-js
							| Москва
							+icon('chevronDown')
					.col-auto.d-none.d-lg-block
						+contactUs
					.col-auto
						+e.btn.btn.btn-outline-primary(href="#") 
							span.d-none.d-lg-block Заказать звонок
							+icon('call')
					.col-auto.d-xxl-none
						+menu-toggle()
	// end top-nav