mixin sFAQ(data)
	// start sFAQ
	+b.SECTION.sFAQ.section#sFAQ&attributes(attributes)
		.container
			+e.wrap
				+b.section-title.text-center
					h2 
						span Что нужно знать 
						<br>
						|  перед покупкой ограждения
				+e.img-row.row.d-none.d-md-flex
					.col-4
						+e.img-wrap(data-aos="fade-left" data-aos-delay="100")
							+img('img/sFAQ.png')
					.col-4
						+e.img-wrap(data-aos="fade-left" data-aos-delay="600")
							+img('img/sFAQ.png')
					.col-4
						+e.img-wrap(data-aos="fade-left" data-aos-delay="1100")
							+img('img/sFAQ.png')

			+ddGroup()
				+ddGroupItem(`типы заборов`, 'active')
				+ddGroupItem(`установка забора`)
				+ddGroupItem(`Комплектация забора`)
				+ddGroupItem(`варианты покрытия`)

	// end sFAQ