.soc {
	@include roww(10px, m);
	display: flex;
	&__item {
		text-decoration: none !important;
		vertical-align: middle;
		@include mt;
		display: grid;
		place-items: center;
		&:hover {
			// box-shadow: 0 0 33px 0px rgba(255, 83, 0, 0.16);
			// opacity: .6 ;
		}
	}
	.icon {
		font-size: rem(30);
	}
}

.counter {
	counter-reset: num;
	&__item {
		position: relative;
		&::before {
			content: counter(num);
			counter-increment: num;
		}
	}
}

.addBlock {
	color: var(--color, #{$primary});
	border: 1px solid;
	border-radius: 23px;
	display: flex;
	position: relative;
	overflow: hidden;
	input {
		color: inherit;
		text-align: center;
		border: none;
		height: rem(45);
	}
	&__btn {
		color: inherit;
		height: rem(45);
		position: relative;
		border-radius: 23px;
		background: none !important;
		border: none !important;
		box-shadow: none !important;
		outline: none !important;
		background: transparent;
		// padding-left: rem(8);
		// padding-right: rem(8);
		width: rem(26);
		&::before,
		&::after {
			content: "";
			width: 10px;
			height: 2px;
			background-color: currentColor;
			@include a-cent;
			position: absolute;
		}
		&--plus::after {
			transform: rotate(90deg);
		}
	}
}

.search-block {
	position: relative;
	input {
		font-size: 14px;
		width: 100%;
		border: none !important;
		outline: none !important;
		padding-left: rem(30);
		padding-top: rem(14);
		padding-bottom: rem(14);
	}
	.icon {
		font-size: rem(20);
		border: none !important;
	}
	button {
		position: absolute;
		left: 0;
		top: 0;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		background: none !important;
		border: none !important;
	}
}

.breadcrumb-item {
	width: auto;
	margin-right: rem(32);
}

.custom-alert {
	display: flex;
	align-items: center;
	color: $body-color;
	font-size: 16px;
	line-height: 135%;
	padding: rem(12);
	font-size: rem(12);
	@include media-breakpoint-up(md) {
		line-height: 125%;
		font-size: rem(16);
	}
	.icon {
		font-size: rem(24);
		margin-right: rem(12);
		flex-shrink: 0;
	}
	&.custom-alert--success {
		background-color: $green-100;
		.icon {
			color: $success;
		}
	}
	&.custom-alert--danger {
		background-color: $red-100;
		.icon {
			color: $danger;
		}
	}
}

.top-alert {
	padding-top: rem(12);
	.custom-alert {
		border-radius: $border-radius-sm;
		@include media-breakpoint-up(md) {
			border-radius: $border-radius;
		}
	}
}

.categoryItem {
	@include mt;
	display: flex;
	flex-direction: column;
	position: relative;
	--wrapPad: #{rem(18)};
	@include media-breakpoint-up(xl) {
		--wrapPad: #{rem(24)};
	}
	&:hover {
		.categoryItem__btns {
			@include media-breakpoint-up(lg) {
				transform: translateY(0);
			}
		}
		img {
			transform: scale(1.1);
		}
		.h5 {
			color: $primary;
		}
	}
	&__wrap {
		@include block(300, 456);
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		padding: var(--wrapPad) var(--wrapPad) calc(var(--wrapPad) * 0.667);
		border-radius: $border-radius;
		background-color: $light;
		overflow: hidden;
		z-index: 2;
		@include media-breakpoint-up(sm) {
			padding: var(--wrapPad);
		}
		
		img {
			@include mt;
			position: absolute;
			left: 0;
			top: 0;
			z-index: -2;
		}
		&::after {
			content: "";
			position: absolute;
			width: 100%;
			height: 100%;
			left: 0;
			top: 0;
			background-color: rgba(55, 51, 49, 0.48);
			z-index: -1;
		}
	}
	&__btns {
		@include mt;
		width: 100%;
		margin-top: auto;
		@include media-breakpoint-up(lg) {
			transform: translateY(250px);
		}
	}
	&__row {
		--bs-gutter-x: #{rem(12)};
		--bs-gutter-y: var(--bs-gutter-x);
		position: relative;
		align-items: center;
	}
	&__btn {
		width: 100%;
		@include media-breakpoint-down(sm) {
			--bs-btn-padding-y: #{rem(14)};
			--bs-btn-padding-x: #{rem(14)};
			--bs-btn-font-size: #{rem(12)};
			--bs-btn-line-height: 1.35;
			--bs-btn-border-radius: #{rem(8)};
		}
		&.btn-outline-white {
			--bs-btn-color: #{$white};
			--bs-btn-border-color: #{$white};
			--bs-btn-hover-color: #{$primary};
			--bs-btn-hover-bg: #{$white};
			--bs-btn-hover-border-color: #{$white};
			--bs-btn-active-color: #{$white};
			--bs-btn-active-border-color: #{$white};
			--bs-btn-disabled-color:  #{$body-color};
			--bs-btn-disabled-bg: #{$light};
			--bs-btn-disabled-border-color: #{$light};
		}
		&.btn-primary {
			--bs-btn-hover-color: #{$primary};
			--bs-btn-hover-bg: #{$white};
			--bs-btn-hover-border-color: #{$white};
			// --bs-btn-active-color: #{$primary};
			// --bs-btn-active-border-color: #{$light};
			--bs-btn-disabled-color:  #{$body-color};
			--bs-btn-disabled-bg: #{$light};
			--bs-btn-disabled-border-color: #{$light};
		}
	}
	&__caption {
		display: flex;
		flex-direction: column;
		margin-top: rem(18);
		@include media-breakpoint-down(lg) {
			position: absolute;
			left: var(--wrapPad);
			top: var(--wrapPad);
			width: 100%;
			max-width: calc(100% - var(--wrapPad) * 2);
			z-index: 2;
			margin-top: 0;
			color: $white;
		}
		.h5 {
			@include mt;
			margin-bottom: rem(6);
		}
		span {
			display: inline-block;
			font-size: rem(12);
			line-height: 1.35;
			@include media-breakpoint-up(md) {
				font-size: rem(16);
				line-height: 1.25;
			}
		}
	}
}
