mixin sServiceHead(data)
	// start sServiceHead
	+b.SECTION.sServiceHead.section#sServiceHead&attributes(attributes)
		.container
			+e.row.row
				.col-lg-6.ms-lg-auto
					+page-head('Забор из&nbsp;евроштакетника под ключ', 'Забор из евроштакетника')
					+e.img-wrap
						.img-wrap-center
							+img('img/categoryItem-2.jpg', 'bg')
	// end sServiceHead