mixin sServiceHead(data)
	// start sServiceHead
	+b.SECTION.sServiceHead.section#sServiceHead&attributes(attributes)
		.container
			+e.row.row
				+e.col.col-lg-6.ms-lg-auto
					+breadcrumb('Главная', 'Забор из евроштакетника')
					h1 Забор из евроштакетника под ключ
					+e.img-wrap
						.img-wrap-center
							+img('img/categoryItem-2.jpg', 'bg')
					p Монтаж осуществляется под ключ как в&nbsp;Москве, так и&nbsp;области. Стоимость работ рассчитывается за&nbsp;погонный метр. В&nbsp;нее уже входят подготовительные и&nbsp;монтажные работы, материалы и&nbsp;комплектующие. Мы&nbsp;проконсультируем вас по&nbsp;любым вопросам, и&nbsp;подберем профнастил для установки на&nbsp;вашем участке.
					p Для заказа нет необходимости посещать наш офис. Достаточно позвонить по&nbsp;телефону или написать нам, и&nbsp;наш замерщик приедет бесплатно в&nbsp;удобное для вас время. Перед тем как купить и&nbsp;заказать, вы&nbsp;можете самостоятельно рассчитать его стоимость с&nbsp;помощью нашего калькулятора.
					+e.order
						.row
							.col-sm-auto
								span Цена:
								h3 от 1350 р/м.п
							+e.btn-col.col-sm
								+e.btn.btn.btn-primary(href='#') Сделать заказ
				.col-12
					+e.description
						h3 Описание для забора из&nbsp;евроштакетника
						p Монтаж осуществляется под ключ как в&nbsp;Москве, так и&nbsp;области. Стоимость работ рассчитывается за&nbsp;погонный метр. В&nbsp;нее уже входят подготовительные и&nbsp;монтажные работы, материалы и&nbsp;комплектующие. Мы&nbsp;проконсультируем вас по&nbsp;любым вопросам, и&nbsp;подберем профнастил для установки на&nbsp;вашем участке.
						p Для заказа нет необходимости посещать наш офис. Достаточно позвонить по&nbsp;телефону или написать нам, и&nbsp;наш замерщик приедет бесплатно в&nbsp;удобное для вас время. Перед тем как купить и&nbsp;заказать, вы&nbsp;можете самостоятельно рассчитать его стоимость с&nbsp;помощью нашего калькулятора.
						p Кроме того, наша команда специалистов подберет вам дополнительные элементы, такие как калитки, ворота и&nbsp;ограждения для мусорных контейнеров. Ограждения подойдут для домов, дач, строительных площадок, коммерческих и&nbsp;производственных объектов. Мы&nbsp;гарантируем качественное выполнение услуг под ключ, а&nbsp;также предоставляем гарантию на&nbsp;выполненные работы.
					+e.credit
						+e.credit-row.row
							.col-auto
								+e.wrap
									+img('img/svg/creditLogo.svg')
									h4 можно взять в кредит
							.col
								+e.credit-inner-row.row
									.col-auto
										span Ставка
										p 14,9%
									.col-auto
										span Срок кредита
										p 12-84 мес.
									.col-auto
										span Сумма кредита
										p 100 000 - 6 000 000 руб
							.col-auto
								+e.credit-btn.btn.btn-outline-primary(href='#') Заявка на кредит
	// end sServiceHead