mixin sServiceHead(data)
	// start sServiceHead
	+b.SECTION.sServiceHead.section#sServiceHead&attributes(attributes)
		.container
			+e.row.row
				+e.col.col-lg-6.ms-lg-auto
					+breadcrumb('Главная', 'Забор из евроштакетника')
					h1 Забор из евроштакетника под ключ
					+e.img-wrap
						.img-wrap-center
							+img('img/categoryItem-2.jpg', 'bg')
					p Монтаж осуществляется под ключ как в&nbsp;Москве, так и&nbsp;области. Стоимость работ рассчитывается за&nbsp;погонный метр. В&nbsp;нее уже входят подготовительные и&nbsp;монтажные работы, материалы и&nbsp;комплектующие. Мы&nbsp;проконсультируем вас по&nbsp;любым вопросам, и&nbsp;подберем профнастил для установки на&nbsp;вашем участке.
					p Для заказа нет необходимости посещать наш офис. Достаточно позвонить по&nbsp;телефону или написать нам, и&nbsp;наш замерщик приедет бесплатно в&nbsp;удобное для вас время. Перед тем как купить и&nbsp;заказать, вы&nbsp;можете самостоятельно рассчитать его стоимость с&nbsp;помощью нашего калькулятора.
	// end sServiceHead