mixin ddGroup()
	//- родителю елементов .dd-group-js
	+b.dd-group.dd-group-js
		if block
			block
		else
			+ddGroupItem('вопрос1', 'active')
			+ddGroupItem('вопрос2')
			+ddGroupItem('вопрос3')

mixin ddGroupItem(txt, activeClasses='', plus=true)
	//-хедеру и контенту => .dd-head-js, .dd-content-js
	//-!!! они должни вкладиваться в 1 контейнер(+e.item) header стилизируеться от етого контейнера, внутри хедера втавлять что душе угодно
	+e.item(class=activeClasses)
		+e.head.dd-head-js
			h5!=txt
			if plus
				span
					+icon('plus')
		+e.content.dd-content-js(class=activeClasses)
			if block
				block
			else
				p Заборы из&nbsp;профнастила в&nbsp;Москве и&nbsp;области <br> Наши заборы из&nbsp;профлиста подойдут для домов, дач, строительных площадок, коммерческих и&nbsp;производственных объектов. <br> При заказе установки забора из&nbsp;профнастила под ключ мы&nbsp;предлагаем следующие услуги:
				ul
					li Подбор оптимального варианта забора, учитывая все ваши пожелания и&nbsp;требования;
					li Доставка материалов на&nbsp;объект;
					li Монтаж забора с&nbsp;использованием современного оборудования;
					li Уборка мусора после завершения работ.
