mixin sCalculator(data)
	// start sCalculator
	+b.sCalculator.section#sCalculator&attributes(attributes)
		.container
			+form-wrap
				+e.row--radioBtns.row
					.col-md-6.col-lg-4
						+choiceOption(`рассчитать забор`, 'radioBtn')(checked)
					.col-md-6.col-lg-4
						+choiceOption(`рассчитать навес`, 'radioBtn')
					.col-md-6.col-lg-4
						+choiceOption(`рассчитать ворота`, 'radioBtn')
					
				+e.row--filters.row
					.col-md-6.col-xl-4.col-xxl-3
						+input('Забор из профнастила', 'select', 'Тип забора')
					.col-md-6.col-xl-4.col-xxl-3
						+input('Количество метров', 'number', 'Количество метров')
					.col-md-6.col-xl-4.col-xxl-3
						+input('1.5', 'select', 'Высота, м')
					.col-md-6.col-xl-4.col-xxl-3
						+input('0.35', 'select', 'Толщина листа, мм')

					.col-md-6.col-xl-4.col-xxl-3
						+input('2', 'select', 'Количество лаг')
					.col-md-6.col-xl-4.col-xxl-3
						+input('Одностороннее', 'select', 'Покрытие')
					.col-md-6.col-xl-4.col-xxl-3
						+input('Количество ворот', 'select', 'Количество ворот')
					.col-md-6.col-xl-4.col-xxl-3
						+input('Распашные', 'select', 'Ворота')

					.col-md-6.col-xl-4.col-xxl-3
						+input('Нет', 'select', 'Автоматика')
					.col-md-6.col-xl-4.col-xxl-3
						+inputNumber(`Количество калиток`, `Количество`)
					.col-md-6.col-xl-4.col-xxl-3
						+input('Нет', 'select', 'Трамбовка столбов щебнем в п.м.')
					.col-md-6.col-xl-4.col-xxl-3
						+inputNumber(`Дополнительный столб для калиток`, `Количество`)

					.col-md-6.col-xl-4.col-xxl-3
						+input('Грунтовка', 'select', 'Покраска каркаса краской')
					.col-md-6.col-xl-4.col-xxl-3
						+input('Нет', 'select', 'Доставка')
					.col-md-6.col-xl-4.col-xxl-3
						+input('Введите эл. почту', 'email', 'Выслать расчет на эл. почту')
					.col-md-6.col-xl-4.col-xxl-3
						+input('Введите телефон', 'tel', 'Ваш телефон')
				+e.result
					.row
						.col-xl-4.col-xxl
							+e.price
								span Ориентировочная стоимость работы:
								.h3 1&nbsp;480&nbsp;560 руб
						.col-lg-6.col-xl-4.col-xxl-3.order-lg-last
							+e.BUTTON.btn.btn.btn-primary Получить расчет на почту
						.col-lg-6.col-xl-4.col-xxl-3
							+policy()
	// end sCalculator